image: node:18

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

before_script:
  - npm install -g firebase-tools
  - npm install

build_job:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - build/

deploy_job:
  stage: deploy
  script:
    - firebase deploy --token "$FIREBASE_DEPLOY_TOKEN"
  only:
    - main
